@import "vars";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

$red: rgb(218, 15, 15);
$blue: rgb(15, 103, 218);

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  h1 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    @include longShadow(#ccc, 50);
    strong {
      font-weight: 700;
    }
  }
}

.checkBox {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0;
    border: 0;
  }
  input:checked ~ .label:before {
    content: "\e5ca";
    font-family: "Material Icons";
    color: #fff;
    border: none;
    font-weight: bold;
    background-color: lighten($blue, 10);

    @include longShadow($blue, 10);
  }
  .label {
    display: flex;
    align-items: center;
    user-select: none;
    &:before {
      content: "\e5ca";
      width: 25px;
      height: 25px;
      overflow: hidden;
      margin-right: 6px;
      font-family: "Material Icons";
      color: darken(#f8f8f8, 30);
      border: 1px solid darken(#f8f8f8, 20);
      font-weight: bold;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #f8f8f8;
      @include longShadow(darken(#f8f8f8, 10), 10);
    }
  }
}

.container {
  width: 800px;
  margin: 50px auto;
}

input,
textarea,
select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  padding: 0 20px;
  &:focus {
    outline-color: $red;
  }
}
textarea {
  margin-top: 30px;
  height: 200px;
  resize: none;
  padding: 20px;
}
.section {
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}
label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  display: block;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .btn {
    padding: 20px 50px;
    color: #fff;
    border-radius: 100px;
    background-color: $blue;
    border: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    overflow: hidden;
    @include longShadow(darken($blue, 10), 40);
  }
}
.contents {
  text-align: left;
}

.diaryItem {
  textarea {
    height: 100px;
  }
}

.infoBox {
  background-color: #f8f8f8;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  dl {
    display: flex;
    align-items: center;
    dd {
      margin-left: 5px;
      transform: translateY(2px);
    }
  }
}
.diaryList {
  .titleBox {
    color: #fff;
    margin: 50px 0;
    padding-top: 50px;
    border-top: 1px dashed #fff;
    h2 {
      font-size: 32px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
    .total {
      text-align: right;
    }
  }
  .list {
    li {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;
      .info {
        display: flex;
        position: relative;
      }
      dl {
        display: flex;
        align-items: center;
        margin-right: 20px;
        max-width: 350px;
        dt {
          font-weight: 500;
          color: rgb(43, 78, 255);
        }
        dd {
          margin-left: 10px;
          color: #fff;
          @include ellipsis;
        }
      }
      .btns {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -5px;
        .btn {
          border-radius: 5px;
          padding: 5px;
          margin-left: 5px;
        }
        .confirm {
          background-color: $red;
          @include longShadow(darken($red, 10), 30);
        }
      }
      .contents {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        padding-top: 20px;
        border-top: 1px dashed #d9d9d9;
        white-space: pre-wrap;
      }
    }
  }
}
#footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  p {
    padding: 15px 30px;
    background-color: #fff;
    font-weight: 300;
    border-radius: 100px;
    text-transform: uppercase;
    strong {
      font-weight: 900;
    }
  }
}
